
/* MOBILE LAYOUT */

/* GLOBAL STYLES (MOBILE) */

:root {
  --blue-accent: #263D87;
  --lavender-light: #F4EFF8;
  --lavender-dark: #E3D8ED;
  --bg-blue: #ECF1F8;
  --text-color-light: #fff; 
  --text-color-dark: #14143D;
  --reset-margin: 0;
  --bg-blue: #ECF1F8;
  --font-family: 'Inter', sans-serif;
  --h1-font-size: 32px;
  --h1-font-weight: 800;
  --h2-font-size: 24px;
  --h2-font-weight: 700;
  --h3-font-size: 20px;
  --h3-font-weight: 700;
  --h4-font-size: 16px;
  --h4-font-weight: 700;
  --h5-font-size: 14px;
  --h5-font-weight: 700;
  --p-font-size: 14px;
  --p-font-weight: 400;
  --p-semibold: 600;
  --display-font-size: 60px;
  --display-font-weight: 800;
  --h1-lg-font-size: 48px;
  --h1-lg-font-weight: 800;
  --h2-lg-font-size: 34px;
  --h2-lg-font-weight: 700;
  --h3-lg-font-size: 24px;
  --h3-lg-font-weight: 700;
  --h4-lg-font-size: 20px;
  --h4-lg-font-weight: 700;
  --h5-lg-font-size: 16px;
  --h5-lg-font-weight: 700;
  --p-lg-font-size: 16px;
}

body{
  font-family: var(--font-family);
  color: var(--text-color-dark)
}

/* h1, h2, h3, p {
  margin-bottom: 1rem;
} */

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
}

p, li {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
}

a{
  font-size: var(--h5-font-size);
  color: var(--blue-accent)
}

/* COMPONENTS */

.nav-logo{
  color: var(--blue-accent);
}

.btn{
  font-family: var(--font-family);
}

.btn-primary {
  color: var(--text-color-light);
  background-color: var(--blue-accent);
  border: none;
}

.btn-secondary {
  color: var(--text-color-dark);
  background-color: #fff;
  border: 1px solid var(--blue-accent);
}

/* CONTENT */

section{
  margin: 35px 8%;
}

img{
  width: 100%;
}

.container{
  padding: 0;
}

.row{
  margin: 0 ;
  padding: 0;
}

.inline-link{
  font-size: var(--p-font-size)
}

.portfolio-img {
  max-height: 250px;
  width: auto;
}

.homepage{  
  text-align: center;
}

.hero-text-box > h1, h2, p {
  margin-bottom: 1rem;
}

.cs-content{
  margin: 0;
}

.cs-tile{
  background-color: var(--bg-blue);
  padding: 8px;
}

.cs-tile > p {
  margin: .5rem;
}

.brooke-whiteboard{
  mix-blend-mode: luminosity;
}

.phone{
  font-weight: 400;
}

.fa-linkedin{
  font-size: 32px;
}


/* DESKTOP */

@media screen and (min-width: 992px) {
  h1 {
    font-size: var(--h1-lg-font-size);
    font-weight: var(--h1-lg-font-weight);
  }
  
  h2 {
    font-size: var(--h2-lg-font-size);
    font-weight: var(--h2-lg-font-weight);
  }
  
  h3 {
    font-size: var(--h3-lg-font-size);
    font-weight: var(--h3-lg-font-weight);
  }
  
  h4 {
    font-size: var(--h4-lg-font-size);
    font-weight: var(--h4-lg-font-weight);
  }
  
  h5 {
    font-size: var(--h5-lg-font-size);
    font-weight: var(--h5-lg-font-weight);
  }
  
  p, li {
    font-size: var(--p-lg-font-size);
    font-weight: var(--p-font-weight);
  }
  
  a{
    font-size: var(--h5-lg-font-size);
  }

  .hero-text-box{
  text-align: start;
  width: 48%;
}

.hero-text-box > h1{
  font-size: var(--display-font-size);
  font-weight: var(--display-font-weight);
}

.row{
  margin: 0;
}

.inline-link{
  font-size: var(--p-lg-font-size)
}

.portfolio-img {
  max-height: 350px;
}

}

/* ------------------------------- */
