
/* MOBILE LAYOUT */

/* GLOBAL */

body{
    margin: 0;
}

header{
    margin: 8px;
}

section{
    margin: 8px;
}

/* COMPONENTS - GLOBAL */

navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 20px 10%;
}

.logo-container{
    border: 1px solid blue;
}
links{
    border: 1px solid blue;
}

footer{
    border: 2px solid orange;
}

/* HOMEPAGE */

.grid-container{
    display: grid;
    border: 1px solid blue;
}
.cs-card{
    border: 1px solid red;
    margin: 10px 0;
}
.cs-card-img-container{
    border: 2px solid purple;
}
.cs-card-text-container{
    border: 2px solid green;
    padding: 5px;
}

/* CASE STUDY TEMPLATE */

.cs-chapter{
    border: 1px solid blue;
}

.cs-img-container{
    border: 2px solid red;
}

.cs-text-container{
    border: 2px solid green;
}

/* DESKTOP LAYOUT*/

/* HOMEPAGE

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid blue;
} */